/* Site: Total renovation Group Sub-Domain templates */






table.headerBG {
width: 963px;
min-height: 700px;
background: #ffffff  url(http://totalrenovationgroup.com/images/bg-roofing.jpg) no-repeat;
border-width: 1px;
border-style:none solid none none;
border-color: #D0D0D0;
/*margin-left: auto;
margin-right: auto;*/
table-margin: 0 0 0 0;




